{{define "contact-follow"}}
<div class="p-6 rounded-md bg-bgSecondary">
  <h1 class="mb-4 text-3xl font-bold text-center">Connect with me!</h1>
  <div class="flex flex-col items-center space-y-6">
    <div class="flex items-center justify-start w-full max-w-md">
      <img
        src="https://cdn.nostr.build/p/XwdR.png"
        alt="nostr image"
        class="w-12 h-auto mr-4"
      />
      <span class="mr-4 font-bold text-md">•</span>
      <a
        href="https://njump.me/npub1zmc6qyqdfnllhnzzxr5wpepfpnzcf8q6m3jdveflmgruqvd3qa9sjv7f60"
        class="font-bold text-md hover:text-textHighlighted"
        target="_blank"
        rel="noopener noreferrer"
      >
        Follow on nostr
      </a>
    </div>

    <div class="flex flex-col items-start w-full max-w-md">
      <div class="flex items-center mb-2">
        <img
          src="https://cdn.nostr.build/p/5olK.png"
          alt="YouTube image"
          class="w-12 h-auto mr-4"
        />
        <span class="font-bold text-md">Subscribe on YouTube</span>
      </div>
      <div class="flex flex-col items-start">
        <div class="flex items-center">
          <span class="ml-20 mr-2">•</span>
          <a
            href="https://www.youtube.com/@OceanSlim"
            class="text-md hover:text-textHighlighted"
            target="_blank"
            rel="noopener noreferrer"
          >
            🧑‍💻 Personal Channel
          </a>
        </div>
        <div class="flex items-center">
          <span class="ml-20 mr-2">•</span>
          <a
            href="https://www.youtube.com/@OceanSlimGames"
            class="text-md hover:text-textHighlighted"
            target="_blank"
            rel="noopener noreferrer"
          >
            🎮 Gaming Channel
          </a>
        </div>
      </div>
    </div>

    <div class="flex items-center justify-start w-full max-w-md">
      <img
        src="https://cdn.nostr.build/p/klO6.png"
        alt="Discord image"
        class="w-12 h-auto mr-4"
      />
      <span class="mr-4 font-bold text-md">•</span>
      <a
        href="https://discordapp.com/users/OceanSlim"
        class="font-bold text-md hover:text-textHighlighted"
        target="_blank"
        rel="noopener noreferrer"
      >
        Add me on Discord
      </a>
    </div>

    <div class="flex items-center justify-start w-full max-w-md">
      <img
        src="https://cdn.nostr.build/p/mWdv.png"
        alt="Secret Club image"
        class="w-12 h-auto mr-4 rounded-md"
      />
      <span class="mr-4 font-bold text-md">•</span>
      <a
        href="https://discord.gg/4h77k34ZF8"
        class="font-bold text-md hover:text-textHighlighted"
        target="_blank"
        rel="noopener noreferrer"
      >
        Join The Secret Club
      </a>
    </div>

    <div class="flex items-center justify-start w-full max-w-md">
      <img
        src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fstore-app-images.s3.us-east-1.amazonaws.com%2F0c40d8fff7dea2073cc31336ea6fdc75-256x256.png&f=1&nofb=1&ipt=3c65df67d4034fcc8201d929bf8966ae72ec27d90a464a98d3567dcce1785a9a&ipo=images"
        alt="Zap Stream image"
        class="w-12 h-auto mr-4"
      />
      <span class="mr-4 font-bold text-md">•</span>
      <a
        href="https://zap.stream/p/npub1zmc6qyqdfnllhnzzxr5wpepfpnzcf8q6m3jdveflmgruqvd3qa9sjv7f60"
        class="font-bold text-md hover:text-textHighlighted"
        target="_blank"
        rel="noopener noreferrer"
      >
        Watch on Zap Stream
      </a>
    </div>
  </div>
</div>

{{end}}
