{{define "contact-simplex"}}
<div class="p-6 rounded-lg shadow-md bg-bgSecondary">
  <div class="flex items-center justify-center">
    <img
      class="flex-shrink-0 w-12 h-12 rounded-md"
      src="https://is5-ssl.mzstatic.com/image/thumb/Purple126/v4/cc/03/3b/cc033be7-628d-2202-723e-c854e1b75a6f/AppIcon-1x_U007emarketing-0-10-0-85-220.png/1024x1024bb.png"
      alt="SimpleX logo"
    />
    <a
      href="https://simplex.chat/contact#/?v=2-7&smp=smp%3A%2F%2F6iIcWT_dF2zN_w5xzZEY7HI2Prbh3ldP07YTyDexPjE%3D%40smp10.simplex.im%2FVgZLYrvVZHxjcf9i-mIcUly3jMs-DPRf%23%2F%3Fv%3D1-3%26dh%3DMCowBQYDK2VuAyEA_Q2P4XOXwfzDxbS4Mq8hsIjlBIG8JHMS9nCF7XF2EDg%253D%26srv%3Drb2pbttocvnbrngnwziclp2f4ckjq65kebafws6g4hy22cdaiv5dwjqd.onion"
      class="flex flex-col items-center ml-4 text-xl font-bold text-center hover:text-textHighlighted"
    >
      <span>SimpleX</span>
      <span>Contact</span>
    </a>
  </div>
</div>
{{end}}
