{{define "contact-simplex"}}
<div class="p-6 rounded-lg shadow-md bg-bgSecondary">
  <div class="flex items-center justify-center">
    <img
      class="flex-shrink-0 w-12 h-12 rounded-md"
      src="https://is5-ssl.mzstatic.com/image/thumb/Purple126/v4/cc/03/3b/cc033be7-628d-2202-723e-c854e1b75a6f/AppIcon-1x_U007emarketing-0-10-0-85-220.png/1024x1024bb.png"
      alt="SimpleX logo"
    />
    <a
      href="https://simplex.chat/contact#/?v=2-7&smp=smp%3A%2F%2FenEkec4hlR3UtKx2NMpOUK_K4ZuDxjWBO1d9Y4YXVaA%3D%40smp14.simplex.im%2F6M9HwdGjWqWsSY6p69TS0x1Y19yoYMYT%23%2F%3Fv%3D1-3%26dh%3DMCowBQYDK2VuAyEAuPZ6auhytRQMmF2ihcsCtQ67dtFPyag0rNKOV5VXCyY%253D%26srv%3Daspkyu2sopsnizbyfabtsicikr2s4r3ti35jogbcekhm3fsoeyjvgrid.onion"
      class="flex flex-col items-center ml-4 text-xl font-bold text-center hover:text-textHighlighted"
    >
      <span>SimpleX</span>
      <span>Contact</span>
    </a>
  </div>
</div>
{{end}}
