{{define "nav-bitcoin"}}
<li class="relative rounded-md group text-textPrimary border border-transparent hover:border-textHighlighted transition-all duration-200">
  <a
    href="#"
    onclick="toggleDropdown('nostrDropdown')"
    class="flex items-center justify-between p-2 space-x-2 hover:text-textHighlighted"
  >
    <div class="w-12 h-12 md:w-14 md:h-14">
      <img
        class="object-contain w-full h-full"
        src="/static/img/bitcoin.png"
        alt="bitcoin icon"
      />
    </div>
    <span class="text-sm md:text-base">Bitcoin</span>
    <svg
      class="w-4 h-4 ml-2"
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M19 9l-7 7-7-7"
      />
    </svg>
  </a>

  <!-- Dropdown container -->
  <div
    id="nostrDropdown"
    class="absolute left-0 hidden mt-2 border-2 rounded-lg shadow-lg lg:left-auto lg:group-hover:block lg:m-2 border-orange-500 warm-glow bg-bgSecondary"
    style="min-width: 12rem; z-index: 10;"
  >
    <!-- Pseudo-element for hover gap -->
    <div class="absolute w-full h-3 -top-3"></div>

    <ul class="py-2">
      <li>
        <a
          class="block px-4 py-2 text-center hover:bg-bgTertiary hover:text-textHighlighted transition-all duration-200 rounded-md mx-1"
          hx-trigger="click"
          hx-get="/bitcoin-works"
          hx-push-url="/bitcoin-works"
          href="/bitcoin-works"
          hx-swap="outerHTML"
          hx-target="body"
        >
          How does it work?
        </a>
      </li>
      <li>
        <a
          class="block px-4 py-2 text-center hover:bg-bgTertiary hover:text-textHighlighted transition-all duration-200 rounded-md mx-1"
          hx-trigger="click"
          hx-get="/btc-dash"
          hx-push-url="/btc-dash"
          href="/btc-dash"
          hx-swap="outerHTML"
          hx-target="body"
        >
          📊 Dashboard
        </a>
      </li>
      <li>
        <a
          class="flex items-center justify-center gap-2 px-4 py-2 hover:bg-bgTertiary hover:text-textHighlighted transition-all duration-200 rounded-md mx-1"
          hx-trigger="click"
          hx-get="/mempool"
          hx-push-url="/mempool"
          href="/mempool"
          hx-swap="outerHTML"
          hx-target="body"
        >
          <img src="https://mempool.space/resources/favicons/favicon-32x32.png" alt="mempool" class="w-4 h-4 inline-block">
          mempool
        </a>
      </li>
      <li>
        <a
          href="https://books.happytavern.co"
          target="_blank"
          rel="noopener noreferrer"
          class="block px-4 py-2 text-center hover:bg-bgTertiary hover:text-textHighlighted transition-all duration-200 rounded-md mx-1"
          onclick="return confirmNavigation(this)"
        >
          📖 Bitcoin Books
        </a>
      </li>
      <li>
        <a
          class="flex items-center justify-center gap-2 px-4 py-2 hover:bg-bgTertiary hover:text-textHighlighted transition-all duration-200 rounded-md mx-1"
          hx-trigger="click"
          hx-get="/core-lnurl"
          hx-push-url="/core-lnurl"
          href="/core-lnurl"
          hx-swap="outerHTML"
          hx-target="body"
        >
          <img src="https://getumbrel.github.io/umbrel-apps-gallery/core-lightning/icon.svg" alt="Core Lightning" class="w-4 h-4 inline-block">
          LNURL Server
        </a>
      </li>
    </ul>
  </div>
</li>
<script>
  function confirmNavigation(link) {
    // Show confirmation with "bitcoin" in quotes
    const confirmation = confirm('The guest login and password is "bitcoin"');
    if (confirmation) {
      // Open the link in a new tab
      window.open(link.href, "_blank", "noopener,noreferrer");
    }
    return false; // Prevent default navigation
  }
</script>
{{end}}
