{{define "nav-other"}}
<li class="relative rounded-md group bg-bgSecondary text-textPrimary">
  <a
    href="#"
    onclick="toggleDropdown('otherDropdown')"
    class="flex items-center justify-between p-2 space-x-2 hover:rounded-md hover:text-textHighlighted"
  >
    <div class="w-12 h-12 md:w-14 md:h-14">
      <img
        class="object-contain w-full h-full"
        src="/static/img/otherstuff.png"
        alt="otherstuff icon"
      />
    </div>
    <span class="text-sm md:text-base">Other Stuff</span>
    <svg
      class="w-4 h-4 ml-2"
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M19 9l-7 7-7-7"
      />
    </svg>
  </a>

  <!-- Dropdown container -->
  <div
    id="otherDropdown"
    class="absolute left-0 hidden mt-2 border rounded-md shadow-lg lg:left-auto lg:group-hover:block lg:m-2 border-bgInverted bg-bgSecondary"
    style="min-width: 12rem; z-index: 10"
  >
    <!-- Pseudo-element for hover gap -->
    <div class="absolute w-full h-3 -top-3"></div>

    <ul class="py-2">
      <li>
        <a
          href="/gun-blog"
          hx-push-url="/gun-blog"
          class="block px-4 py-2 whitespace-nowrap hover:text-textHighlighted"
          hx-trigger="click"
          hx-get="/gun-blog"
          hx-swap="outerHTML"
          hx-target="body"
          ><img
            class="inline-block h-6 mx-1 align-text-bottom"
            src="https://clipart-library.com/images_k/gun-png-transparent/gun-png-transparent-5.png"
          />
          Gun Blog
        </a>
      </li>
      <li>
        <a
          href="/file-upload"
          hx-push-url="/file-upload"
          class="block px-4 py-2 whitespace-nowrap hover:text-textHighlighted"
          hx-trigger="click"
          hx-get="/file-upload"
          hx-swap="outerHTML"
          hx-target="body"
          ><img
            class="inline-block h-6 mx-1 align-text-bottom"
            src="https://img.icons8.com/ios/50/upload--v1.png"
          />
          File Upload
        </a>
      </li>
      <li>
        <a
          href="/live/view"
          hx-push-url="/live/view"
          class="block px-4 py-2 whitespace-nowrap hover:text-textHighlighted"
          hx-trigger="click"
          hx-get="/live/view"
          hx-swap="outerHTML"
          hx-target="body"
        >
          🔴 Live Stream
        </a>
      </li>
      <li>
        <a
          href="/contact"
          hx-push-url="/contact"
          class="block px-4 py-2 whitespace-nowrap hover:text-textHighlighted"
          hx-trigger="click"
          hx-get="/contact"
          hx-swap="outerHTML"
          hx-target="body"
          ><img
            class="inline-block h-6 mx-1 align-text-bottom"
            src="https://static.vecteezy.com/system/resources/previews/012/627/941/non_2x/3d-open-mail-icon-free-png.png"
          />
          Contact Me
        </a>
      </li>
      <li>
        <a
          class="flex items-center px-4 py-2 space-x-2 whitespace-nowrap hover:text-textHighlighted"
          hx-push-url="https://dwm.happytavern.co"
          href="https://dwm.happytavern.co"
        >
          <img
            src="https://happytavern.co/.pictures/dwm/monster/slime.png"
            alt="slime"
            class="w-6 h-6 rounded-sm"
          />
          <span>DWM app</span>
        </a>
      </li>
    </ul>
  </div>
</li>
{{end}}
