{{define "nav-bitcoin"}}
<li class="relative group">
  <a href="#" class="text-white hover:text-gray-300">Bitcoin</a>
  <div
    class="absolute left-0 hidden mt-2 bg-white rounded-md shadow-lg group-hover:block"
  >
    <ul class="py-2">
      <li>
        <a href="#" class="block px-4 py-2 text-gray-700 hover:bg-gray-100"
          >Submenu 1</a
        >
      </li>
      <li>
        <a href="#" class="block px-4 py-2 text-gray-700 hover:bg-gray-100"
          >Submenu 2</a
        >
      </li>
    </ul>
  </div>
</li>
{{end}}
