{{define "nav-other"}}
<li class="relative rounded-md group text-textPrimary border border-transparent hover:border-textHighlighted transition-all duration-200">
  <a
    href="#"
    onclick="toggleDropdown('otherDropdown')"
    class="flex items-center justify-between p-2 space-x-2 hover:text-textHighlighted"
  >
    <div class="w-12 h-12 md:w-14 md:h-14">
      <img
        class="object-contain w-full h-full"
        src="/static/img/otherstuff.png"
        alt="otherstuff icon"
      />
    </div>
    <span class="text-sm md:text-base">Other Stuff</span>
    <svg
      class="w-4 h-4 ml-2"
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M19 9l-7 7-7-7"
      />
    </svg>
  </a>

  <!-- Dropdown container -->
  <div
    id="otherDropdown"
    class="absolute left-0 hidden mt-2 border-2 rounded-lg shadow-lg lg:left-auto lg:group-hover:block lg:m-2 border-textHighlighted warm-glow bg-bgSecondary"
    style="min-width: 12rem; z-index: 10;"
  >
    <!-- Pseudo-element for hover gap -->
    <div class="absolute w-full h-3 -top-3"></div>

    <ul class="py-2">
      <li>
        <a
          href="/runescape-gold"
          hx-push-url="/runescape-gold"
          class="block px-4 py-2 text-center hover:bg-bgTertiary hover:text-textHighlighted transition-all duration-200 rounded-md mx-1"
          hx-trigger="click"
          hx-get="/runescape-gold"
          hx-swap="outerHTML"
          hx-target="body"
        >
          GP RuneScape Gold
        </a>
      </li>
      <li>
        <a
          href="/gun-blog"
          hx-push-url="/gun-blog"
          class="block px-4 py-2 text-center hover:bg-bgTertiary hover:text-textHighlighted transition-all duration-200 rounded-md mx-1"
          hx-trigger="click"
          hx-get="/gun-blog"
          hx-swap="outerHTML"
          hx-target="body"
        >
          Gun Blog
        </a>
      </li>
      <li>
        <a
          href="/file-upload"
          hx-push-url="/file-upload"
          class="block px-4 py-2 text-center hover:bg-bgTertiary hover:text-textHighlighted transition-all duration-200 rounded-md mx-1"
          hx-trigger="click"
          hx-get="/file-upload"
          hx-swap="outerHTML"
          hx-target="body"
        >
          📤 File Upload
        </a>
      </li>
      <li>
        <a
          href="https://live.happytavern.co"
          target="_blank"
          class="block px-4 py-2 text-center hover:bg-bgTertiary hover:text-textHighlighted transition-all duration-200 rounded-md mx-1"
        >
          🔴 Live Stream
        </a>
      </li>
      <li>
        <a
          href="/contact"
          hx-push-url="/contact"
          class="block px-4 py-2 text-center hover:bg-bgTertiary hover:text-textHighlighted transition-all duration-200 rounded-md mx-1"
          hx-trigger="click"
          hx-get="/contact"
          hx-swap="outerHTML"
          hx-target="body"
        >
          📧 Contact Me
        </a>
      </li>
      <li>
        <a
          class="block px-4 py-2 text-center hover:bg-bgTertiary hover:text-textHighlighted transition-all duration-200 rounded-md mx-1"
          href="https://dwm.happytavern.co"
        >
          DWM app
        </a>
      </li>
    </ul>
  </div>
</li>
{{end}}
