{{define "verified-form"}}
<div class="bg-white p-6 rounded-lg shadow-md max-w-md mx-auto">
  <form id="invoiceForm" class="space-y-6">
    <div class="relative">
      <input
        type="text"
        id="name"
        placeholder="Your Name"
        required
        class="w-full p-2 pr-24 border rounded focus:outline-none focus:ring-2 focus:ring-purple-500"
      />
      <span class="absolute right-2 top-2 text-gray-500">@happytavern.co</span>
    </div>
    <div>
      <input
        type="text"
        id="npub"
        placeholder="Your Npub"
        required
        class="w-full p-2 border rounded focus:outline-none focus:ring-2 focus:ring-purple-500"
      />
    </div>
    <button
      type="submit"
      class="w-full px-4 py-2 text-white bg-purple-500 rounded hover:bg-purple-600 transition duration-300"
    >
      Get Verified!
    </button>
  </form>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/qrcodejs/1.0.0/qrcode.min.js"></script>
<script>
  document
    .getElementById("invoiceForm")
    .addEventListener("submit", async function (event) {
      event.preventDefault();
      document.getElementById("invoiceForm").classList.add("hidden");

      const name = document.getElementById("name").value;
      const npub = document.getElementById("npub").value;

      try {
        const response = await fetch("/create-invoice", {
          method: "POST",
          headers: { "Content-Type": "application/json" },
          body: JSON.stringify({ name, npub }),
        });

        if (!response.ok) throw new Error("Failed to generate invoice");

        const result = await response.json();
        const bolt11 = result.bolt11; // Store the bolt11 invoice
        document.getElementById("spinner").classList.add("hidden");
        document.getElementById("invoiceModal").classList.remove("hidden");

        const qrCodeContainer = document.getElementById("qrCodeContainer");
        qrCodeContainer.innerHTML = "";
        new QRCode(qrCodeContainer, {
          text: bolt11, // Use the stored bolt11 variable
          width: 256,
          height: 256,
        });

        document
          .getElementById("copyInvoice")
          .addEventListener("click", function () {
            navigator.clipboard.writeText(bolt11); // Use the stored bolt11 variable
          });

        // Listen for payment event using SSE
        const eventSource = new EventSource(
          `/invoice-events?label=${result.label}`
        );

        eventSource.onmessage = function (event) {
          const paymentStatus = JSON.parse(event.data);
          if (paymentStatus.status === "paid") {
            eventSource.close();
            document.getElementById("invoiceModal").classList.add("hidden");
            document.getElementById("invoiceResult").innerHTML =
              '<h1 class="text-green-500 text-4xl font-bold">PAID</h1>';
          }
        };

        eventSource.onerror = function () {
          console.error("SSE connection error");
          eventSource.close();
        };
      } catch (error) {
        document.getElementById(
          "invoiceResult"
        ).innerHTML = `<p class="text-red-500">Error: ${error.message}</p>`;
      }
    });
</script>
{{end}}
