{{define "view"}}
<main class="flex flex-col items-center my-16 md:my-32 space-y-12">
  <!-- Welcome Section -->
  <section class="text-center">
    <h1 class="text-4xl md:text-6xl font-bold">Welcome to Happy Tavern!</h1>
  </section>

  <!-- Slogan Section -->
  <section class="text-center">
    <p class="text-2xl md:text-3xl italic">
      Raise your glass to Self Sovereignty
    </p>
  </section>

  <!-- Blurb Section -->
  <section class="text-center max-w-2xl">
    <p class="text-lg md:text-xl text-textMuted">
      Crack open a "cold snack," grab a seat, and enjoy your time here. Happy
      Tavern is a gathering place for the ideas, projects, and resources I'm
      passionate about—like Nostr, Bitcoin, and other ways to embrace
      self-sovereignty.
    </p>
  </section>
</main>
{{end}}
