{{define "view"}}
<video id="videoPlayer" controls autoplay class="flex rounded-md"></video>
<script>
  var video = document.getElementById("videoPlayer");
  var streamURL = "{{ .CustomData.StreamURL }}";
  if (Hls.isSupported()) {
    var hls = new Hls();
    hls.loadSource(streamURL);
    hls.attachMedia(video);
  } else if (video.canPlayType("application/vnd.apple.mpegurl")) {
    video.src = streamURL; // Native support
  } else {
    console.error("HLS not supported in this browser.");
  }
</script>
{{end}}
