{{define "view"}}
<main class="flex flex-col px-4 my-16 md:my-32">
  <div class="mb-8 text-center">
    <h1 class="text-2xl font-bold md:text-4xl">Select Your Platform</h1>
  </div>
  <div class="flex justify-center space-x-4">
    <button
      class="p-2 rounded-md bg-bgSecondary text-textPrimary hover:text-textHighlighted hover:bg-bgTertiary"
      hx-get="/nostr-mobile"
      hx-target="body"
      hx-swap="outerHTML"
    >
      Mobile
    </button>
    <button
      class="p-2 rounded-md bg-bgSecondary text-textPrimary hover:text-textHighlighted hover:bg-bgTertiary"
      hx-get="/nostr-desktop"
      hx-target="body"
      hx-swap="outerHTML"
    >
      Desktop
    </button>
  </div>

  <!-- App Container -->
  <div id="app-container" class="mt-8">
    <!-- Placeholder Content -->
    <p class="text-center text-gray-500">
      Choose a platform to see available apps.
    </p>
  </div>
</main>
{{end}}
