{{define "view"}}
<div class="flex flex-col items-center space-y-4 text-center app-details">
  <!-- App Image -->
  <div class="w-20 h-20 md:w-24 md:h-24">
    <img src="/img/damus.png" alt="iOS App" class="object-contain rounded-md" />
  </div>

  <!-- App Title -->
  <h2 class="text-xl font-semibold">Damus</h2>

  <!-- App Description -->
  <p class="mb-4 text-textMuted">"The social network you control."</p>

  <!-- Buttons Column for Mobile -->
  <div class="flex flex-col space-y-4 md:flex-row md:space-y-0 md:space-x-4">
    <!-- Visit Damus.io Button -->
    <a
      href="https://damus.io/"
      target="_blank"
      rel="noopener noreferrer"
      class="flex items-center border-bgInverted border-2 justify-center w-48 font-bold rounded-lg bg-bgSecondary text-textPrimary hover:text-textHighlighted hover:bg-bgTertiary p-2"
    >
      Visit Damus.io
    </a>

    <!-- App Store Button -->
    <a
      href="https://apps.apple.com/ca/app/damus/id1628663131"
      class="flex items-center justify-center w-48 rounded-md bg-bgSecondary"
      target="_blank"
      rel="noopener noreferrer"
      style="aspect-ratio: 3 / 1"
    >
      <img
        src="/img/app-store.png"
        alt="Download on the App Store"
        class="object-contain"
      />
    </a>
  </div>
</div>
{{template "returnHome"}} {{end}}
