{{define "view"}}
<div class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3">
  <!-- Example App Card -->
  <div class="app-card">
    <div class="aspect-w-1 aspect-h-1">
      <img
        src="/img/nostrudel.png"
        alt="nostrudel"
        class="w-full h-full object-contain"
      />
    </div>
    <h2 class="text-lg font-semibold">nostrudel</h2>
    <p class="mb-4 text-textMuted">
      A powerful desktop Nostr client with cutting-edge features.
    </p>
    <a
      href="https://nostrudel.ninja"
      target="_blank"
      rel="noopener noreferrer"
      class="p-2 border-bgInverted border-2 font-bold rounded-md bg-bgSecondary text-textPrimary hover:text-textHighlighted hover:bg-bgTertiary"
      >Visit nostrudel.ninja</a
    >
  </div>
  <div class="app-card">
    <div class="aspect-w-1 aspect-h-1">
      <img
        src="/img/primal.png"
        alt="Desktop App 2"
        class="w-full h-full object-contain"
      />
    </div>
    <h2 class="text-lg font-semibold">Primal</h2>
    <p class="mb-4 text-textMuted">
      Streamlined and reliable desktop client for all your Nostr needs.
    </p>
    <a
      href="https://primal.net"
      target="_blank"
      rel="noopener noreferrer"
      class="p-2 font-bold border-bgInverted border-2 rounded-md bg-bgSecondary text-textPrimary hover:text-textHighlighted hover:bg-bgTertiary"
      >Visit Primal.net</a
    >
  </div>
  <div class="app-card">
    <div class="aspect-w-1 aspect-h-1 overflow-hidden rounded-xl">
      <img
        src="/img/nostrapps.png"
        alt="Desktop App 3"
        class="w-full h-full object-contain"
      />
    </div>
    <h2 class="text-lg font-semibold">nostr Apps</h2>
    <p class="mb-4 text-textMuted">
      Explore even more apps! nostr is more than just social media.
    </p>
    <a
      href="https://nostrapps.com"
      target="_blank"
      rel="noopener noreferrer"
      class="p-2 font-bold border-bgInverted border-2 rounded-md bg-bgSecondary text-textPrimary hover:text-textHighlighted hover:bg-bgTertiary"
      >Visit nostrapps.com</a
    >
  </div>
</div>
{{template "returnHome"}} {{end}}
