{{define "view"}}
<main class="flex flex-col px-4 my-16 md:my-32">
  <div class="mb-8 text-center">
    <h1 class="text-2xl font-bold md:text-4xl">Select A Platform</h1>
  </div>
  <div class="flex justify-center space-x-4">
    <button
      class="p-4 font-bold rounded-md border-bgInverted border-2 bg-bgSecondary text-textPrimary hover:text-textHighlighted hover:bg-bgTertiary"
      hx-get="/nostr-mobile"
      hx-push-url="/nostr-mobile"
      href="/nostr-mobile"
      hx-target="body"
      hx-swap="outerHTML"
    >
      Mobile 📱
    </button>
    <button
      class="p-4 font-bold border-bgInverted border-2 rounded-md bg-bgSecondary text-textPrimary hover:text-textHighlighted hover:bg-bgTertiary"
      hx-get="/nostr-desktop"
      hx-push-url="/nostr-desktop"
      href="/nostr-desktop"
      hx-target="body"
      hx-swap="outerHTML"
    >
      Desktop 🖥️
    </button>
  </div>
  <!-- Placeholder Content -->
  <p class="mt-4 text-center text-textMuted">
    Choose a platform to see available apps.
  </p>
</main>
{{end}}
