{{define "footer"}}
<footer class="mt-16 py-8 border-t-2 border-textHighlighted">
  <div class="text-center text-textMuted text-sm space-y-3">
    <p>
      &copy; 2025 - Made with 💦 by
      <a
        href="https://wheat.happytavern.co/p/npub1zmc6qyqdfnllhnzzxr5wpepfpnzcf8q6m3jdveflmgruqvd3qa9sjv7f60"
        class="link-light-purple underline"
        target="_blank"
        >OceanSlim</a
      >
    </p>
    <p>
      I did this for free.
      <a
        href="https://zapmeacoffee.com/npub1zmc6qyqdfnllhnzzxr5wpepfpnzcf8q6m3jdveflmgruqvd3qa9sjv7f60"
        class="link-light-purple underline"
        target="_blank"
        >Consider buying me a ☕</a
      >
    </p>
  </div>
</footer>
{{end}}
