{{define "header"}}
<header
  class="relative flex items-center justify-between p-4 mb-8 rounded-b-md bg-bgSecondary"
>
  <!-- Left: Logo -->
  {{template "app-name"}}

  <!-- Center: Navigation -->

  {{template "navigation"}}

  <!-- Right: Settings -->
  {{template "settings" .}}
</header>
<script>
  function toggleNav() {
    const navbar = document.getElementById("navbar");
    navbar.classList.toggle("hidden");
  }

  function toggleDropdown(id) {
    const dropdown = document.getElementById(id);
    dropdown.classList.toggle("hidden");
  }
</script>
{{end}}
